In [ ]:
import pandas as pd
import numpy as np

# Dealing with Datetime

In [ ]:
# Get the information of the datetime method 
pd.datetime?

In [ ]:
#Converts to python datetime object
pd.datetime(2018, 12, 13)

In [ ]:
d1 = pd.datetime(2018, 12, 13)

In [ ]:
type(d1)

In [ ]:
d1.month

In [ ]:
#d1.utcnow()

In [ ]:
d1.now()

## Timestamp
   * In pandas, a single point in time is represented as a timestamp.
   * We can use the to_datetime() function to create timestamps from strings in a wide variety of date/time formats.

In [ ]:
# TimeStamp is the pandas equivalent of python's Datetime
# and is interchangable with it in most cases. It's the type used
# for the entries that make up a DatetimeIndex, and other timeseries
# oriented data structures in pandas.
pd.Timestamp?

In [ ]:
pd.Timestamp('2018 12 13')

In [ ]:
pd.Timestamp('20181213 11:12:12.000000')

In [ ]:
t1 = pd.Timestamp('2018 12 13')

In [ ]:
#Timestamp Object
type(t1)

In [ ]:
# All the available methods and variables available for t1 object
dir(t1)

In [ ]:
# try out above mentioned methods
t1.to_datetime64()

In [ ]:
# To convert a Series or list-like object to Timestamps  
# you can use the to_datetime function.

pd.to_datetime(pd.Series(['Jul 31, 2009', '2010-01-10', None])) #passing a series

In [ ]:
pd.to_datetime(pd.Series(['Jul 31, 2009', '2010-01-10', None]))[0]

In [ ]:
pd.to_datetime(['2005/11/23', '2010.12.31']) #passing a list of dates

In [ ]:
# If we give a single date
pd.to_datetime('1 7 2018')

In [ ]:
# We can also use DataTimeIndex Constructor Directly to create Index
pd.DatetimeIndex(['2018-01-01', '2018-01-03', '2018-01-05'])

In [ ]:
# The string ‘infer’ can be passed in order to set the frequency of the index as the inferred frequency upon creation
pd.DatetimeIndex(['2018-01-01', '2018-01-03', '2018-01-05'], freq='infer')

In [ ]:
#Creating a DatetimeIndex list
index_list = pd.DatetimeIndex(['2018-01-01 00:12', '2018-01-03', '2018-01-05'])

In [ ]:
index_list

In [ ]:
pd.DataFrame(data=np.arange(3), index=index_list, columns=['range'])

## Date range

In [ ]:
#Let's have a look at the doc string
# Return a fixed frequency DatetimeIndex, with day (calendar) as the default frequency
pd.date_range?

In [ ]:
# Of the three parameters: ``start``, ``end``, and ``periods``, exactly two must be specified.
pd.date_range(start='20181201', freq='D', periods=30,normalize=True)

In [ ]:
pd.date_range(start='20181201', end='20281231', freq='M')

In [ ]:
# Frequency can also be specified using offsets
pd.date_range(start='20181201', end='20281231', freq=pd.offsets.MonthEnd(2))

http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases

In [ ]:
range_df = pd.DataFrame(data=np.random.randint(0, 100, 300), 
             index=pd.date_range('20181201', freq='H', periods=300, name='date'), 
             columns=['values'])

In [ ]:
range_df.head()

Date Offsets can be found here :
* https://pandas.pydata.org/pandas-docs/version/0.12/timeseries.html#dateoffset-objects

## Period 
* A Period represents a span of time (e.g., a day, a month, a quarter, etc). You can specify the span via freq keyword using a frequency alias like below.

In [ ]:
pd.Period?

In [ ]:
#Converts string to a Period object
pd.Period('2018 12')

In [ ]:
pd.Period('2018 12 12')

In [ ]:
tp = pd.Period('2018 12')

In [ ]:
tp.daysinmonth

In [ ]:
# Adding and subtracting integers from periods shifts the period by its own frequency. 
# Arithmetic is not allowed between Period with different freq (span).

print(tp-1, tp+1)

In [ ]:
# PeriodIndex can be constructed using period_range, with day (calendar) as the default frequency
pd.period_range?

In [ ]:
pd.period_range(start='2018 01', freq='H', periods=10)

In [ ]:
# Period Index can also be used directly
pd.PeriodIndex(['2011-1', '2011-2', '2011-3'], freq='M')

In [ ]:
#PeriodIndex supports addition and subtraction with the same rule as Period.

idx = pd.period_range('2014-07-01 09:00', periods=5, freq='H')
idx+2

In [ ]:
pd.DataFrame(data=np.arange(10), 
            index=pd.period_range(start='2018 01', freq='H', periods=10,name='period'),
            columns=['value'])

## Time Delta
    Timedeltas are differences in times, expressed in difference units, e.g. days, hours, minutes, seconds. They can be both positive and negative.

In [ ]:
pd.Timedelta?

In [ ]:
pd.Timedelta('20m')

In [ ]:
pd.Timedelta('1d')

In [ ]:
# We can add Two Timedelta
pd.Timedelta('1d') + pd.Timedelta('20m')

In [ ]:
# We can add time delta to a timestamp
pd.Timestamp('2018 01') + pd.Timedelta('17 m')

In [ ]:
#Using the top-level pd.to_timedelta, you can convert a scalar, array, list, or Series 
#from a recognized timedelta format / value into a Timedelta type. 
#It will construct Series if the input is a Series, a scalar if the input is scalar-like, 
# otherwise it will output a TimedeltaIndex.
pd.to_timedelta('1 days 06:05:01.00003')

In [ ]:
pd.to_timedelta(['1 days 06:05:01.00003', '15.5us', 'nan'])

## Time Zones

Helps to convert to the specific timezone

In [ ]:
from pytz import common_timezones

In [ ]:
#common_timezones

In [ ]:
[x for x in common_timezones if 'Asia' in x and 'Kolkata' in x]

In [ ]:
t1 = pd.Timestamp('2018 12 01', tz='UTC')

In [ ]:
t1

In [ ]:
t1.tz_convert('Asia/Kolkata')

# Exercise

In [ ]:
# Q2:
# read "../data/exercise_2.csv"
# convert Time column to datetime column
# create a "date" column without time
# create a "lagged_time" column by a time delay of 10 minutes to original Time