In [1]:
import pandas as pd

# Moving Up and Down


## asfreq

   Convert TimeSeries to specified frequency.Optionally provide filling method to pad/backfill missing values.

Frequency strings can be found here:
* https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases

In [2]:
df = pd.read_csv('../data/stock_data.csv', parse_dates=[0], index_col=0)

In [3]:
df.index

DatetimeIndex(['2007-10-29', '2007-10-30', '2007-10-31', '2007-11-01',
               '2007-11-02', '2007-11-05', '2007-11-06', '2007-11-07',
               '2007-11-08', '2007-11-09',
               ...
               '2011-10-03', '2011-10-04', '2011-10-05', '2011-10-06',
               '2011-10-07', '2011-10-10', '2011-10-11', '2011-10-12',
               '2011-10-13', '2011-10-14'],
              dtype='datetime64[ns]', name='date', length=1000, freq=None)

In [4]:
#daily frequency
df.asfreq('12H').index

DatetimeIndex(['2007-10-29 00:00:00', '2007-10-29 12:00:00',
               '2007-10-30 00:00:00', '2007-10-30 12:00:00',
               '2007-10-31 00:00:00', '2007-10-31 12:00:00',
               '2007-11-01 00:00:00', '2007-11-01 12:00:00',
               '2007-11-02 00:00:00', '2007-11-02 12:00:00',
               ...
               '2011-10-09 12:00:00', '2011-10-10 00:00:00',
               '2011-10-10 12:00:00', '2011-10-11 00:00:00',
               '2011-10-11 12:00:00', '2011-10-12 00:00:00',
               '2011-10-12 12:00:00', '2011-10-13 00:00:00',
               '2011-10-13 12:00:00', '2011-10-14 00:00:00'],
              dtype='datetime64[ns]', name='date', length=2893, freq='12H')

In [6]:
df.asfreq?

Signature:
df.asfreq(
    freq,
    method=None,
    how: Union[str, NoneType] = None,
    normalize: bool = False,
    fill_value=None,
) -> ~FrameOrSeries
Docstring:
Convert TimeSeries to specified frequency.

Optionally provide filling method to pad/backfill missing values.

Returns the original data conformed to a new index with the specified
frequency. ``resample`` is more appropriate if an operation, such as
summarization, is necessary to represent the data at the new frequency.

Parameters
----------
freq : DateOffset or str
method : {'backfill'/'bfill', 'pad'/'ffill'}, default None
    Method to use for filling holes in reindexed Series (note this
    does not fill NaNs that already were present):

    * 'pad' / 'ffill': propagate last valid observation forward to next
      valid
    * 'backfill' / 'bfill': use NEXT valid observation to fill.
how : {'start', 'end'}, default end
    For PeriodIndex only (see PeriodIndex.asfreq).
normalize : bool, default False
    Whether to reset output index to midnight.
fill_value : scalar, optional
    Value to use for missing values, applied during upsampling (note
    this does not fill NaNs that already were present).

Returns
-------
converted : same type as caller

See Also
--------
reindex

Notes
-----
To learn more about the frequency strings, please see `this link
<https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases>`__.

Examples
--------

Start by creating a series with 4 one minute timestamps.

>>> index = pd.date_range('1/1/2000', periods=4, freq='T')
>>> series = pd.Series([0.0, None, 2.0, 3.0], index=index)
>>> df = pd.DataFrame({'s':series})
>>> df
                       s
2000-01-01 00:00:00    0.0
2000-01-01 00:01:00    NaN
2000-01-01 00:02:00    2.0
2000-01-01 00:03:00    3.0

Upsample the series into 30 second bins.

>>> df.asfreq(freq='30S')
                       s
2000-01-01 00:00:00    0.0
2000-01-01 00:00:30    NaN
2000-01-01 00:01:00    NaN
2000-01-01 00:01:30    NaN
2000-01-01 00:02:00    2.0
2000-01-01 00:02:30    NaN
2000-01-01 00:03:00    3.0

Upsample again, providing a ``fill value``.

>>> df.asfreq(freq='30S', fill_value=9.0)
                       s
2000-01-01 00:00:00    0.0
2000-01-01 00:00:30    9.0
2000-01-01 00:01:00    NaN
2000-01-01 00:01:30    9.0
2000-01-01 00:02:00    2.0
2000-01-01 00:02:30    9.0
2000-01-01 00:03:00    3.0

Upsample again, providing a ``method``.

>>> df.asfreq(freq='30S', method='bfill')
                       s
2000-01-01 00:00:00    0.0
2000-01-01 00:00:30    NaN
2000-01-01 00:01:00    NaN
2000-01-01 00:01:30    2.0
2000-01-01 00:02:00    2.0
2000-01-01 00:02:30    3.0
2000-01-01 00:03:00    3.0
File:      c:\users\hp\appdata\local\programs\python\python38\lib\site-packages\pandas\core\generic.py
Type:      method

In [7]:
df = df.asfreq('12H')

In [8]:
df

,AA,AAPL,GE,IBM,JNJ,MSFT,PEP,SPX,XOM
date,,,,,,,,,
2007-10-29 00:00:00,37.41,185.09,34.46,106.78,57.13,31.78,65.67,1540.98,85.51
2007-10-29 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-30 00:00:00,36.43,187.00,34.39,106.15,56.99,32.70,65.80,1531.02,83.25
2007-10-30 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-31 00:00:00,36.79,189.95,34.97,108.01,57.30,33.84,65.69,1549.38,84.03
...,...,...,...,...,...,...,...,...,...
2011-10-12 00:00:00,10.05,402.19,16.40,186.12,64.33,26.96,62.70,1207.25,77.16
2011-10-12 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-13 00:00:00,10.10,408.43,16.22,186.82,64.23,27.18,62.36,1203.66,76.37
2011-10-13 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-14 00:00:00,10.26,422.00,16.60,190.53,64.72,27.27,62.24,1224.58,78.11

In [9]:
df.loc['2011-10-13 00:00']

AA        10.10
AAPL     408.43
GE        16.22
IBM      186.82
JNJ       64.23
MSFT      27.18
PEP       62.36
SPX     1203.66
XOM       76.37
Name: 2011-10-13 00:00:00, dtype: float64

In [10]:
# Hours to Days --> Downsampling
df.asfreq('D')

               AA    AAPL     GE     IBM    JNJ   MSFT    PEP      SPX    XOM
date
2007-10-29  37.41  185.09  34.46  106.78  57.13  31.78  65.67  1540.98  85.51
2007-10-30  36.43  187.00  34.39  106.15  56.99  32.70  65.80  1531.02  83.25
2007-10-31  36.79  189.95  34.97  108.01  57.30  33.84  65.69  1549.38  84.03
2007-11-01  35.22  187.44  34.27  105.72  56.85  34.07  64.51  1508.44  80.84
2007-11-02  35.83  187.87  34.27  106.59  56.95  34.07  65.03  1509.65  80.32
...           ...     ...    ...     ...    ...    ...    ...      ...    ...
2011-10-10  10.09  388.81  16.14  186.62  64.43  26.94  61.87  1194.89  76.28
2011-10-11  10.30  400.29  16.14  185.00  63.96  27.00  60.95  1195.54  76.27
2011-10-12  10.05  402.19  16.40  186.12  64.33  26.96  62.70  1207.25  77.16
2011-10-13  10.10  408.43  16.22  186.82  64.23  27.18  62.36  1203.66  76.37
2011-10-14  10.26  422.00  16.60  190.53  64.72  27.27  62.24  1224.58  78.11

[1447 rows x 9 columns]

In [11]:
# Days to hours --> Upsampling
df.asfreq('8H')

,AA,AAPL,GE,IBM,JNJ,MSFT,PEP,SPX,XOM
date,,,,,,,,,
2007-10-29 00:00:00,37.41,185.09,34.46,106.78,57.13,31.78,65.67,1540.98,85.51
2007-10-29 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-29 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-30 00:00:00,36.43,187.00,34.39,106.15,56.99,32.70,65.80,1531.02,83.25
2007-10-30 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2011-10-12 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-13 00:00:00,10.10,408.43,16.22,186.82,64.23,27.18,62.36,1203.66,76.37
2011-10-13 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-13 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-14 00:00:00,10.26,422.00,16.60,190.53,64.72,27.27,62.24,1224.58,78.11

In [12]:
# ffill propagate last valid observation forward to next valid
# Note: this does not fill NaNs that already were present
df.asfreq('4H', method='ffill')

,AA,AAPL,GE,IBM,JNJ,MSFT,PEP,SPX,XOM
date,,,,,,,,,
2007-10-29 00:00:00,37.41,185.09,34.46,106.78,57.13,31.78,65.67,1540.98,85.51
2007-10-29 04:00:00,37.41,185.09,34.46,106.78,57.13,31.78,65.67,1540.98,85.51
2007-10-29 08:00:00,37.41,185.09,34.46,106.78,57.13,31.78,65.67,1540.98,85.51
2007-10-29 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-29 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2011-10-13 08:00:00,10.10,408.43,16.22,186.82,64.23,27.18,62.36,1203.66,76.37
2011-10-13 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-13 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-13 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-14 00:00:00,10.26,422.00,16.60,190.53,64.72,27.27,62.24,1224.58,78.11

In [13]:
# bfill use NEXT valid observation to fill
# Note: this does not fill NaNs that already were present):
df.asfreq('2H',method='bfill')

,AA,AAPL,GE,IBM,JNJ,MSFT,PEP,SPX,XOM
date,,,,,,,,,
2007-10-29 00:00:00,37.41,185.09,34.46,106.78,57.13,31.78,65.67,1540.98,85.51
2007-10-29 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-29 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-29 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-29 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2011-10-13 16:00:00,10.26,422.00,16.60,190.53,64.72,27.27,62.24,1224.58,78.11
2011-10-13 18:00:00,10.26,422.00,16.60,190.53,64.72,27.27,62.24,1224.58,78.11
2011-10-13 20:00:00,10.26,422.00,16.60,190.53,64.72,27.27,62.24,1224.58,78.11
2011-10-13 22:00:00,10.26,422.00,16.60,190.53,64.72,27.27,62.24,1224.58,78.11
2011-10-14 00:00:00,10.26,422.00,16.60,190.53,64.72,27.27,62.24,1224.58,78.11

In [14]:
# To fill with certain default value
# Note: this does not fill NaNs that already were present):
df.asfreq('H',fill_value=9.0)

,AA,AAPL,GE,IBM,JNJ,MSFT,PEP,SPX,XOM
date,,,,,,,,,
2007-10-29 00:00:00,37.41,185.09,34.46,106.78,57.13,31.78,65.67,1540.98,85.51
2007-10-29 01:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2007-10-29 02:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2007-10-29 03:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2007-10-29 04:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
...,...,...,...,...,...,...,...,...,...
2011-10-13 20:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2011-10-13 21:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2011-10-13 22:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2011-10-13 23:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2011-10-14 00:00:00,10.26,422.00,16.60,190.53,64.72,27.27,62.24,1224.58,78.11

## resample

Convenience method for frequency conversion and resampling of time
series.

In [15]:
df.resample?

Signature:
df.resample(
    rule,
    axis=0,
    closed: Union[str, NoneType] = None,
    label: Union[str, NoneType] = None,
    convention: str = 'start',
    kind: Union[str, NoneType] = None,
    loffset=None,
    base: int = 0,
    on=None,
    level=None,
)
Docstring:
Resample time-series data.

Convenience method for frequency conversion and resampling of time
series. Object must have a datetime-like index (`DatetimeIndex`,
`PeriodIndex`, or `TimedeltaIndex`), or pass datetime-like values
to the `on` or `level` keyword.

Parameters
----------
rule : DateOffset, Timedelta or str
    The offset string or object representing target conversion.
axis : {0 or 'index', 1 or 'columns'}, default 0
    Which axis to use for up- or down-sampling. For `Series` this
    will default to 0, i.e. along the rows. Must be
    `DatetimeIndex`, `TimedeltaIndex` or `PeriodIndex`.
closed : {'right', 'left'}, default None
    Which side of bin interval is closed. The default is 'left'
    for all frequency offsets except for 'M', 'A', 'Q', 'BM',
    'BA', 'BQ', and 'W' which all have a default of 'right'.
label : {'right', 'left'}, default None
    Which bin edge label to label bucket with. The default is 'left'
    for all frequency offsets except for 'M', 'A', 'Q', 'BM',
    'BA', 'BQ', and 'W' which all have a default of 'right'.
convention : {'start', 'end', 's', 'e'}, default 'start'
    For `PeriodIndex` only, controls whether to use the start or
    end of `rule`.
kind : {'timestamp', 'period'}, optional, default None
    Pass 'timestamp' to convert the resulting index to a
    `DateTimeIndex` or 'period' to convert it to a `PeriodIndex`.
    By default the input representation is retained.
loffset : timedelta, default None
    Adjust the resampled time labels.
base : int, default 0
    For frequencies that evenly subdivide 1 day, the "origin" of the
    aggregated intervals. For example, for '5min' frequency, base could
    range from 0 through 4. Defaults to 0.
on : str, optional
    For a DataFrame, column to use instead of index for resampling.
    Column must be datetime-like.

level : str or int, optional
    For a MultiIndex, level (name or number) to use for
    resampling. `level` must be datetime-like.

Returns
-------
Resampler object

See Also
--------
groupby : Group by mapping, function, label, or list of labels.
Series.resample : Resample a Series.
DataFrame.resample: Resample a DataFrame.

Notes
-----
See the `user guide
<https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#resampling>`_
for more.

To learn more about the offset strings, please see `this link
<https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#dateoffset-objects>`__.

Examples
--------

Start by creating a series with 9 one minute timestamps.

>>> index = pd.date_range('1/1/2000', periods=9, freq='T')
>>> series = pd.Series(range(9), index=index)
>>> series
2000-01-01 00:00:00    0
2000-01-01 00:01:00    1
2000-01-01 00:02:00    2
2000-01-01 00:03:00    3
2000-01-01 00:04:00    4
2000-01-01 00:05:00    5
2000-01-01 00:06:00    6
2000-01-01 00:07:00    7
2000-01-01 00:08:00    8
Freq: T, dtype: int64

Downsample the series into 3 minute bins and sum the values
of the timestamps falling into a bin.

>>> series.resample('3T').sum()
2000-01-01 00:00:00     3
2000-01-01 00:03:00    12
2000-01-01 00:06:00    21
Freq: 3T, dtype: int64

Downsample the series into 3 minute bins as above, but label each
bin using the right edge instead of the left. Please note that the
value in the bucket used as the label is not included in the bucket,
which it labels. For example, in the original series the
bucket ``2000-01-01 00:03:00`` contains the value 3, but the summed
value in the resampled bucket with the label ``2000-01-01 00:03:00``
does not include 3 (if it did, the summed value would be 6, not 3).
To include this value close the right side of the bin interval as
illustrated in the example below this one.

>>> series.resample('3T', label='right').sum()
2000-01-01 00:03:00     3
2000-01-01 00:06:00    12
2000-01-01 00:09:00    21
Freq: 3T, dtype: int64

Downsample the series into 3 minute bins as above, but close the right
side of the bin interval.

>>> series.resample('3T', label='right', closed='right').sum()
2000-01-01 00:00:00     0
2000-01-01 00:03:00     6
2000-01-01 00:06:00    15
2000-01-01 00:09:00    15
Freq: 3T, dtype: int64

Upsample the series into 30 second bins.

>>> series.resample('30S').asfreq()[0:5]   # Select first 5 rows
2000-01-01 00:00:00   0.0
2000-01-01 00:00:30   NaN
2000-01-01 00:01:00   1.0
2000-01-01 00:01:30   NaN
2000-01-01 00:02:00   2.0
Freq: 30S, dtype: float64

Upsample the series into 30 second bins and fill the ``NaN``
values using the ``pad`` method.

>>> series.resample('30S').pad()[0:5]
2000-01-01 00:00:00    0
2000-01-01 00:00:30    0
2000-01-01 00:01:00    1
2000-01-01 00:01:30    1
2000-01-01 00:02:00    2
Freq: 30S, dtype: int64

Upsample the series into 30 second bins and fill the
``NaN`` values using the ``bfill`` method.

>>> series.resample('30S').bfill()[0:5]
2000-01-01 00:00:00    0
2000-01-01 00:00:30    1
2000-01-01 00:01:00    1
2000-01-01 00:01:30    2
2000-01-01 00:02:00    2
Freq: 30S, dtype: int64

Pass a custom function via ``apply``

>>> def custom_resampler(array_like):
...     return np.sum(array_like) + 5
...
>>> series.resample('3T').apply(custom_resampler)
2000-01-01 00:00:00     8
2000-01-01 00:03:00    17
2000-01-01 00:06:00    26
Freq: 3T, dtype: int64

For a Series with a PeriodIndex, the keyword `convention` can be
used to control whether to use the start or end of `rule`.

Resample a year by quarter using 'start' `convention`. Values are
assigned to the first quarter of the period.

>>> s = pd.Series([1, 2], index=pd.period_range('2012-01-01',
...                                             freq='A',
...                                             periods=2))
>>> s
2012    1
2013    2
Freq: A-DEC, dtype: int64
>>> s.resample('Q', convention='start').asfreq()
2012Q1    1.0
2012Q2    NaN
2012Q3    NaN
2012Q4    NaN
2013Q1    2.0
2013Q2    NaN
2013Q3    NaN
2013Q4    NaN
Freq: Q-DEC, dtype: float64

Resample quarters by month using 'end' `convention`. Values are
assigned to the last month of the period.

>>> q = pd.Series([1, 2, 3, 4], index=pd.period_range('2018-01-01',
...                                                   freq='Q',
...                                                   periods=4))
>>> q
2018Q1    1
2018Q2    2
2018Q3    3
2018Q4    4
Freq: Q-DEC, dtype: int64
>>> q.resample('M', convention='end').asfreq()
2018-03    1.0
2018-04    NaN
2018-05    NaN
2018-06    2.0
2018-07    NaN
2018-08    NaN
2018-09    3.0
2018-10    NaN
2018-11    NaN
2018-12    4.0
Freq: M, dtype: float64

For DataFrame objects, the keyword `on` can be used to specify the
column instead of the index for resampling.

>>> d = dict({'price': [10, 11, 9, 13, 14, 18, 17, 19],
...           'volume': [50, 60, 40, 100, 50, 100, 40, 50]})
>>> df = pd.DataFrame(d)
>>> df['week_starting'] = pd.date_range('01/01/2018',
...                                     periods=8,
...                                     freq='W')
>>> df
   price  volume week_starting
0     10      50    2018-01-07
1     11      60    2018-01-14
2      9      40    2018-01-21
3     13     100    2018-01-28
4     14      50    2018-02-04
5     18     100    2018-02-11
6     17      40    2018-02-18
7     19      50    2018-02-25
>>> df.resample('M', on='week_starting').mean()
               price  volume
week_starting
2018-01-31     10.75    62.5
2018-02-28     17.00    60.0

For a DataFrame with MultiIndex, the keyword `level` can be used to
specify on which level the resampling needs to take place.

>>> days = pd.date_range('1/1/2000', periods=4, freq='D')
>>> d2 = dict({'price': [10, 11, 9, 13, 14, 18, 17, 19],
...            'volume': [50, 60, 40, 100, 50, 100, 40, 50]})
>>> df2 = pd.DataFrame(d2,
...                    index=pd.MultiIndex.from_product([days,
...                                                     ['morning',
...                                                      'afternoon']]
...                                                     ))
>>> df2
                      price  volume
2000-01-01 morning       10      50
           afternoon     11      60
2000-01-02 morning        9      40
           afternoon     13     100
2000-01-03 morning       14      50
           afternoon     18     100
2000-01-04 morning       17      40
           afternoon     19      50
>>> df2.resample('D', level=0).sum()
            price  volume
2000-01-01     21     110
2000-01-02     22     140
2000-01-03     32     150
2000-01-04     36      90
File:      c:\users\hp\appdata\local\programs\python\python38\lib\site-packages\pandas\core\generic.py
Type:      method

In [16]:
df.resample('2H')

In [17]:
df.resample('2H').sum()

,AA,AAPL,GE,IBM,JNJ,MSFT,PEP,SPX,XOM
date,,,,,,,,,
2007-10-29 00:00:00,37.41,185.09,34.46,106.78,57.13,31.78,65.67,1540.98,85.51
2007-10-29 02:00:00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2007-10-29 04:00:00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2007-10-29 06:00:00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2007-10-29 08:00:00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...
2011-10-13 16:00:00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2011-10-13 18:00:00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2011-10-13 20:00:00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2011-10-13 22:00:00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2011-10-14 00:00:00,10.26,422.00,16.60,190.53,64.72,27.27,62.24,1224.58,78.11

In [18]:
def get_range(x):
    return x.max() - x.min()

In [19]:
df.resample('M').agg({'mean', 'max', get_range})

                   AA                         AAPL                    \
                 mean get_range    max        mean get_range     max
date
2007-10-31  36.876667      0.98  37.41  187.346667      4.86  189.95
2007-11-30  33.936190      3.43  35.84  174.658095     38.03  191.79
2007-12-31  33.493000      3.67  35.17  190.505000     20.97  199.83
2008-01-31  29.547619      6.88  33.63  160.378095     64.92  194.93
2008-02-29  33.260000      6.26  36.54  125.153000     14.60  133.75
2008-03-31  34.489500      3.76  36.16  130.823000     25.37  145.06
2008-04-30  33.671364      4.73  36.43  158.187273     27.91  175.05
2008-05-31  37.888571      9.27  41.86  184.759524     12.91  189.96
2008-06-30  36.315714      6.96  40.10  178.485714     21.99  189.43
2008-07-31  31.400909      3.44  32.80  167.748636     25.15  179.55
2008-08-31  29.946190      1.44  30.58  171.069524     26.09  179.32
2008-09-30  25.017619      8.57  28.75  141.243333     61.70  166.96
2008-10-31  12.460435     11.54  20.07   99.003913     22.30  111.04
2008-11-30   9.815263      5.22  11.77   93.940526     30.50  110.99
2008-12-31   9.295455      3.06  10.77   91.543636     15.02  100.06
2009-01-31   9.187000      4.15  11.60   88.775000     16.38   94.58
2009-02-28   6.986842      2.63   8.31   94.074211     15.56  102.51
2009-03-31   6.186818      2.84   7.94   97.505000     26.76  109.87
2009-04-30   8.420476      1.62   9.05  120.020952     17.14  125.83
2009-05-31   9.271000      1.83  10.29  128.149000     16.32  135.81
2009-06-30  10.540455      2.34  11.98  139.528182     10.66  144.67
2009-07-31  10.094545      2.48  11.53  149.318182     27.99  163.39
2009-08-31  12.475714      1.63  13.47  166.280476     10.46  170.05
2009-09-30  12.957143      2.87  14.22  177.786667     20.97  186.15
2009-10-31  13.392273      2.39  14.11  192.831364     24.34  205.20
2009-11-30  12.885000      1.29  13.55  200.320000     18.25  207.00
2009-12-31  14.404091      3.49  16.10  198.954545     22.69  211.64
2010-01-31  14.940000      4.65  17.19  207.715263     22.98  215.04
2010-02-28  13.186316      0.82  13.56  198.795789     12.57  204.62
2010-03-31  13.752609      1.24  14.31  223.410870     27.00  235.85
2010-04-30  13.979048      1.58  14.84  251.148571     34.86  270.83
2010-05-31  11.856000      2.03  12.98  251.461500     30.49  266.35
2010-06-30  10.992273      1.64  11.60  261.145455     30.87  274.07
2010-07-31  10.653333      1.21  11.11  254.950000     18.50  264.08
2010-08-31  10.733636      1.66  11.59  251.323182     23.05  262.98
2010-09-30  11.342381      1.68  12.12  273.850952     41.99  292.32
2010-10-31  12.662857      1.44  13.27  300.934286     39.36  318.00
2010-11-30  13.321905      1.05  13.92  311.588095     18.12  318.62
2010-12-31  14.495455      1.81  15.30  321.485909      9.07  325.47
2011-01-31  16.159000      0.85  16.51  338.380000     21.76  348.48
2011-02-28  17.072105      1.14  17.52  351.182632     24.52  363.13
2011-03-31  16.485217      1.99  17.59  347.490870     29.99  360.00
2011-04-30  17.069000      1.99  18.06  340.415500     25.55  353.01
2011-05-31  16.806190      1.65  17.60  341.784762     17.38  349.57
2011-06-30  15.390000      1.48  16.17  331.081364     30.78  346.10
2011-07-31  15.648000      1.76  16.46  372.238000     60.15  403.41
2011-08-31  12.353478      3.51  14.72  376.762609     43.54  396.75
2011-09-30  11.209524      2.92  12.49  392.493333     39.40  413.45
2011-10-31   9.778000      1.40  10.30  389.424000     52.20  422.00

                   GE                          IBM  ...   MSFT        PEP  \
                 mean get_range    max        mean  ...    max       mean
date                                                ...
2007-10-31  34.606667      0.58  34.97  106.980000  ...  33.84  65.720000
2007-11-30  32.814286      3.06  34.27   98.991429  ...  34.07  66.222381
2007-12-31  31.562500      1.38  32.18  101.135000  ...  33.77  69.016000
2008-01-31  30.081429      3.07  31.53   95.914286  ...  32.62  65.657619
2008-02-29  29.448000      2.33  30.99  101.213000  ...  28.09  63.143000
2008-03-31  30.203500      5.01  32.42  108.647500  ...  27.24  63.261500
2008-04-30  29.634091      5.78  33.23  112.179091  ...  29.45  63.308636
2008-05-31  27.615238      2.54  28.83  118.218571  ...  28.30  61.259048
2008-06-30  24.995238      3.90  26.86  117.211905  ...  27.02  59.694762
2008-07-31  24.320455      2.46  25.64  117.760455  ...  25.58  59.824545
2008-08-31  25.291429      1.62  26.19  118.390000  ...  26.14  62.607619
2008-09-30  23.132381      4.98  25.43  110.209048  ...  25.77  64.846190
2008-10-31  17.837826      6.00  21.71   86.587826  ...  24.71  53.336522
2008-11-30  14.945263      7.02  18.40   78.022632  ...  21.96  49.866842
2008-12-31  15.061818      3.00  16.73   77.910000  ...  19.74  49.329545
2009-01-31  12.947500      4.56  15.42   83.659500  ...  19.50  47.889500
2009-02-28   9.651053      3.50  11.41   87.231579  ...  18.47  47.017368
2009-03-31   8.522727      3.94  10.13   87.696364  ...  17.81  45.621364
2009-04-30  10.783333      2.31  11.76   96.433810  ...  19.78  47.149048
2009-05-31  12.460500      1.71  13.51   99.502000  ...  19.88  46.788500
2009-06-30  11.872727      2.08  12.88  102.372727  ...  22.91  50.287273
2009-07-31  11.069545      2.52  12.56  105.765455  ...  24.33  52.522727
2009-08-31  13.145238      1.26  13.78  114.458571  ...  23.63  53.413810
2009-09-30  14.675238      3.67  16.04  115.001905  ...  24.83  54.854762
2009-10-31  14.793636      2.44  15.88  118.215000  ...  27.45  57.540000
2009-11-30  14.676000      1.87  15.25  121.863500  ...  28.95  58.321000
2009-12-31  14.826364      0.91  15.27  125.078182  ...  30.18  58.459091
2010-01-31  15.443158      1.31  15.97  124.986316  ...  29.90  57.993684
2010-02-28  15.228947      1.23  15.99  121.737368  ...  27.98  58.095263
2010-03-31  16.569565      2.44  17.62  124.402609  ...  28.99  62.551739
2010-04-30  18.042381      1.12  18.62  126.073333  ...  30.32  62.820000
2010-05-31  16.520500      3.16  18.39  124.223500  ...  29.81  62.013000
2010-06-30  14.885909      1.85  15.71  124.734091  ...  26.06  60.517727
2010-07-31  14.528095      2.21  15.55  124.769524  ...  25.38  61.278095
2010-08-31  14.882727      1.96  15.87  125.742273  ...  25.55  62.759545
2010-09-30  15.513810      1.71  16.13  127.961429  ...  24.81  64.144762
2010-10-31  15.946190      1.22  16.73  137.252857  ...  26.02  63.951905
2010-11-30  15.633333      0.94  16.20  142.458571  ...  26.72  62.803810
2010-12-31  17.055455      2.09  17.87  143.410000  ...  27.78  63.851818
2011-01-31  18.607500      1.95  19.79  151.240000  ...  28.33  64.510500
2011-02-28  20.549474      1.13  21.00  161.738947  ...  27.76  62.402105
2011-03-31  19.596522      1.77  20.39  159.020435  ...  25.87  62.856957
2011-04-30  19.882500      0.75  20.29  164.522000  ...  26.37  65.793500
2011-05-31  19.493810      1.52  20.28  168.752381  ...  25.73  69.359524
2011-06-30  18.295000      0.99  18.79  164.875455  ...  25.84  68.563182
2011-07-31  18.500500      1.38  19.12  178.204500  ...  27.90  67.065500
2011-08-31  15.878261      2.85  17.80  169.194348  ...  27.10  62.885217
2011-09-30  15.557143      1.46  16.33  170.245714  ...  27.21  61.626190
2011-10-31  15.735000      1.91  16.60  182.405000  ...  27.27  61.274000

                                     SPX                           XOM  \
           get_range    max         mean get_range      max       mean
date
2007-10-31      0.13  65.80  1540.460000     18.36  1549.38  84.263333
2007-11-30      4.32  68.78  1463.385238    113.05  1520.27  79.861429
2007-12-31      2.50  70.47  1479.223500     70.06  1515.96  84.232000
2008-01-31     10.90  71.25  1378.763810    136.66  1447.16  80.636190
2008-02-29      4.68  64.44  1354.872500     68.97  1395.42  78.978500
2008-03-31      3.37  65.00  1316.943000     79.62  1352.99  78.919000
2008-04-30      4.06  64.94  1370.469091     69.52  1397.84  83.929545
2008-05-31      1.80  62.21  1403.217619     50.70  1426.63  83.740952
2008-06-30      3.95  61.57  1341.250952    125.67  1404.05  80.827619
2008-07-31      3.01  61.36  1257.326364     70.00  1284.91  77.319091
2008-08-31      3.23  63.60  1281.472381     56.31  1305.32  73.000952
2008-09-30      4.41  66.76  1217.022857    171.16  1277.58  71.524762
2008-10-31     18.59  65.31   968.800870    312.14  1161.06  66.922174
2008-11-30      7.33  53.18   883.040526    253.31  1005.75  69.781053
2008-12-31      2.62  50.42   877.561818     96.97   913.18  73.011818
2009-01-31      5.27  51.42   865.575500    129.48   934.70  73.170500
2009-02-28      4.95  49.18   805.227368    134.80   869.89  69.744737
2009-03-31      6.82  49.28   757.126818    156.33   832.86  63.268636
2009-04-30      4.61  49.00   848.151905     62.56   873.64  63.659524
2009-05-31      2.75  48.26   902.408500     51.71   929.23  65.380500
2009-06-30      2.45  51.36   926.115000     53.17   946.21  67.673636
2009-07-31      2.43  53.53   935.821364    108.35   987.48  65.275909
2009-08-31      2.69  55.19  1009.724762     51.25  1030.98  65.878571
2009-09-30      3.82  56.39  1044.552381     76.91  1071.66  66.080476
2009-10-31      3.98  59.05  1067.663636     72.70  1097.91  67.925000
2009-11-30      2.95  59.53  1088.069000     67.75  1110.63  70.456000
2009-12-31      4.51  60.94  1110.377727     35.84  1127.78  67.775455
2010-01-31      3.02  59.58  1123.581579     76.36  1150.23  65.132632
2010-02-28      3.51  59.45  1089.160000     52.43  1109.17  62.924211
2010-03-31      3.70  63.88  1152.048696     58.46  1174.17  64.142174
2010-04-30      2.34  63.71  1197.316190     39.18  1217.28  65.895714
2010-05-31      5.46  63.96  1125.062000    134.31  1202.26  61.044000
2010-06-30      3.58  62.09  1083.360909     86.80  1117.51  58.866818
2010-07-31      4.02  63.25  1079.803333     92.43  1115.01  57.171905
2010-08-31      2.82  64.06  1087.282273     80.57  1127.79  58.885909
2010-09-30      1.94  64.89  1122.081905     68.38  1148.67  59.808571
2010-10-31      3.72  66.07  1171.583810     48.61  1185.64  63.524762
2010-11-30      1.85  63.83  1198.888571     47.51  1225.85  68.366667
2010-12-31      1.64  64.81  1241.525455     53.71  1259.78  71.055455
2011-01-31      2.54  65.39  1282.618500     29.79  1299.54  76.010500
2011-02-28      2.07  63.58  1321.117895     38.98  1343.01  83.010000
2011-03-31      2.69  64.06  1304.486522     74.09  1330.97  82.152609
2011-04-30      4.56  68.66  1331.505000     58.47  1363.61  84.299000
2011-05-31      2.90  70.69  1338.310476     44.94  1361.22  81.729048
2011-06-30      2.43  69.87  1287.288636     55.22  1320.64  79.365909
2011-07-31      6.61  69.96  1325.184500     60.94  1353.22  82.196500
2011-08-31      4.59  64.43  1185.305652    167.48  1286.94  73.058696
2011-09-30      4.16  64.15  1173.879048     86.45  1216.01  72.399524
2011-10-31      2.41  62.70  1171.356000    125.35  1224.58  74.957000


           get_range    max
date
2007-10-31      2.26  85.51
2007-11-30      5.43  82.56
2007-12-31      6.31  87.12
2008-01-31     10.43  86.04
2008-02-29      8.11  82.79
2008-03-31      5.54  81.48
2008-04-30      6.79  86.93
2008-05-31      5.68  87.48
2008-06-30      4.07  82.62
2008-07-31      7.42  81.73
2008-08-31      4.62  75.48
2008-09-30      6.90  75.01
2008-10-31     15.09  73.06
2008-11-30     11.57  75.64
2008-12-31      8.26  77.75
2009-01-31      6.12  76.35
2009-02-28     11.69  75.51
2009-03-31      8.47  66.95
2009-04-30      5.34  66.20
2009-05-31      3.38  66.96
2009-06-30      5.29  70.01
2009-07-31      7.21  68.78
2009-08-31      4.64  67.89
2009-09-30      2.35  67.21
2009-10-31      7.93  71.26
2009-11-30      5.35  73.17
2009-12-31      7.51  72.75
2010-01-31      5.61  67.26
2010-02-28      2.15  64.07
2010-03-31      1.92  64.90
2010-04-30      1.88  66.73
2010-05-31      7.82  65.33
2010-06-30      5.88  61.21
2010-07-31      4.21  59.06
2010-08-31      3.70  60.81
2010-09-30      1.47  60.60
2010-10-31      4.24  64.97
2010-11-30      5.20  70.58
2010-12-31      2.19  72.15
2011-01-31      6.02  79.28
2011-02-28      4.46  86.01
2011-03-31      6.43  84.78
2011-04-30      4.82  86.91
2011-05-31      6.20  85.91
2011-06-30      5.21  81.49
2011-07-31      5.39  84.66
2011-08-31     11.05  79.08
2011-09-30      5.31  74.55
2011-10-31      6.96  78.11

[49 rows x 27 columns]

## fillna

Fill NA/NaN values using the specified method

In [20]:
df1 = df.asfreq('6M')

In [21]:
df1

               AA    AAPL     GE     IBM    JNJ   MSFT    PEP      SPX    XOM
date
2007-10-31  36.79  189.95  34.97  108.01  57.30  33.84  65.69  1549.38  84.03
2008-04-30  32.65  173.95  28.28  113.10  59.74  26.41  61.70  1385.59  85.71
2008-10-31  10.85  107.59  17.29   87.81  55.37  20.84  51.97   968.75  68.92
2009-04-30   8.87  125.83  11.76   98.56  48.05  19.16  46.12   872.81  62.66
2009-10-31    NaN     NaN    NaN     NaN    NaN    NaN    NaN      NaN    NaN
2010-04-30  13.26  261.09  18.01  125.53  60.95  29.50  62.32  1186.69  65.26
2010-10-31    NaN     NaN    NaN     NaN    NaN    NaN    NaN      NaN    NaN
2011-04-30    NaN     NaN    NaN     NaN    NaN    NaN    NaN      NaN    NaN

In [22]:
df1.fillna?

Signature:
df1.fillna(
    value=None,
    method=None,
    axis=None,
    inplace=False,
    limit=None,
    downcast=None,
) -> Union[ForwardRef('DataFrame'), NoneType]
Docstring:
Fill NA/NaN values using the specified method.

Parameters
----------
value : scalar, dict, Series, or DataFrame
    Value to use to fill holes (e.g. 0), alternately a
    dict/Series/DataFrame of values specifying which value to use for
    each index (for a Series) or column (for a DataFrame).  Values not
    in the dict/Series/DataFrame will not be filled. This value cannot
    be a list.
method : {'backfill', 'bfill', 'pad', 'ffill', None}, default None
    Method to use for filling holes in reindexed Series
    pad / ffill: propagate last valid observation forward to next valid
    backfill / bfill: use next valid observation to fill gap.
axis : {0 or 'index', 1 or 'columns'}
    Axis along which to fill missing values.
inplace : bool, default False
    If True, fill in-place. Note: this will modify any
    other views on this object (e.g., a no-copy slice for a column in a
    DataFrame).
limit : int, default None
    If method is specified, this is the maximum number of consecutive
    NaN values to forward/backward fill. In other words, if there is
    a gap with more than this number of consecutive NaNs, it will only
    be partially filled. If method is not specified, this is the
    maximum number of entries along the entire axis where NaNs will be
    filled. Must be greater than 0 if not None.
downcast : dict, default is None
    A dict of item->dtype of what to downcast if possible,
    or the string 'infer' which will try to downcast to an appropriate
    equal type (e.g. float64 to int64 if possible).

Returns
-------
DataFrame or None
    Object with missing values filled or None if ``inplace=True``.

See Also
--------
interpolate : Fill NaN values using interpolation.
reindex : Conform object to new index.
asfreq : Convert TimeSeries to specified frequency.

Examples
--------
>>> df = pd.DataFrame([[np.nan, 2, np.nan, 0],
...                    [3, 4, np.nan, 1],
...                    [np.nan, np.nan, np.nan, 5],
...                    [np.nan, 3, np.nan, 4]],
...                   columns=list('ABCD'))
>>> df
     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5
3  NaN  3.0 NaN  4

Replace all NaN elements with 0s.

>>> df.fillna(0)
    A   B   C   D
0   0.0 2.0 0.0 0
1   3.0 4.0 0.0 1
2   0.0 0.0 0.0 5
3   0.0 3.0 0.0 4

We can also propagate non-null values forward or backward.

>>> df.fillna(method='ffill')
    A   B   C   D
0   NaN 2.0 NaN 0
1   3.0 4.0 NaN 1
2   3.0 4.0 NaN 5
3   3.0 3.0 NaN 4

Replace all NaN elements in column 'A', 'B', 'C', and 'D', with 0, 1,
2, and 3 respectively.

>>> values = {'A': 0, 'B': 1, 'C': 2, 'D': 3}
>>> df.fillna(value=values)
    A   B   C   D
0   0.0 2.0 2.0 0
1   3.0 4.0 2.0 1
2   0.0 1.0 2.0 5
3   0.0 3.0 2.0 4

Only replace the first NaN element.

>>> df.fillna(value=values, limit=1)
    A   B   C   D
0   0.0 2.0 2.0 0
1   3.0 4.0 NaN 1
2   NaN 1.0 NaN 5
3   NaN 3.0 NaN 4
File:      c:\users\hp\appdata\local\programs\python\python38\lib\site-packages\pandas\core\frame.py
Type:      method

In [23]:
df1.fillna(method='ffill', inplace=True)

In [24]:
df1

               AA    AAPL     GE     IBM    JNJ   MSFT    PEP      SPX    XOM
date
2007-10-31  36.79  189.95  34.97  108.01  57.30  33.84  65.69  1549.38  84.03
2008-04-30  32.65  173.95  28.28  113.10  59.74  26.41  61.70  1385.59  85.71
2008-10-31  10.85  107.59  17.29   87.81  55.37  20.84  51.97   968.75  68.92
2009-04-30   8.87  125.83  11.76   98.56  48.05  19.16  46.12   872.81  62.66
2009-10-31   8.87  125.83  11.76   98.56  48.05  19.16  46.12   872.81  62.66
2010-04-30  13.26  261.09  18.01  125.53  60.95  29.50  62.32  1186.69  65.26
2010-10-31  13.26  261.09  18.01  125.53  60.95  29.50  62.32  1186.69  65.26
2011-04-30  13.26  261.09  18.01  125.53  60.95  29.50  62.32  1186.69  65.26

## reindex

 Change Series to new index with optional filling logic

In [25]:
df2 = df.resample('Y').mean()

In [26]:
date_index = pd.date_range('20071201', end='20111231', freq='7D')

In [27]:
date_index

DatetimeIndex(['2007-12-01', '2007-12-08', '2007-12-15', '2007-12-22',
               '2007-12-29', '2008-01-05', '2008-01-12', '2008-01-19',
               '2008-01-26', '2008-02-02',
               ...
               '2011-10-29', '2011-11-05', '2011-11-12', '2011-11-19',
               '2011-11-26', '2011-12-03', '2011-12-10', '2011-12-17',
               '2011-12-24', '2011-12-31'],
              dtype='datetime64[ns]', length=214, freq='7D')

In [28]:
df2 = df2.reindex(date_index,method='ffill')

In [29]:
df2

,AA,AAPL,GE,IBM,JNJ,MSFT,PEP,SPX,XOM
2007-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-12-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-12-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-12-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2011-12-03,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-12-10,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-12-17,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-12-24,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-12-31,15.024472,356.526834,18.30191,166.188844,62.585779,25.825930,64.808693,1276.093015,79.042663

In [30]:
df2.fillna(method='ffill', inplace=True)

In [31]:
df2

,AA,AAPL,GE,IBM,JNJ,MSFT,PEP,SPX,XOM
2007-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-12-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-12-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-12-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2011-12-03,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-12-10,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-12-17,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-12-24,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-12-31,15.024472,356.526834,18.30191,166.188844,62.585779,25.825930,64.808693,1276.093015,79.042663

In [32]:
df2.fillna(value='0')

,AA,AAPL,GE,IBM,JNJ,MSFT,PEP,SPX,XOM
2007-12-01,0,0,0,0,0,0,0,0,0
2007-12-08,0,0,0,0,0,0,0,0,0
2007-12-15,0,0,0,0,0,0,0,0,0
2007-12-22,0,0,0,0,0,0,0,0,0
2007-12-29,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
2011-12-03,12.6423,259.842,15.8625,129.079,59.4248,26.2626,61.97,1139.97,63.068
2011-12-10,12.6423,259.842,15.8625,129.079,59.4248,26.2626,61.97,1139.97,63.068
2011-12-17,12.6423,259.842,15.8625,129.079,59.4248,26.2626,61.97,1139.97,63.068
2011-12-24,12.6423,259.842,15.8625,129.079,59.4248,26.2626,61.97,1139.97,63.068
2011-12-31,15.0245,356.527,18.3019,166.189,62.5858,25.8259,64.8087,1276.09,79.0427